*{
    box-sizing: border-box;
    width: 100%;
}

body{
    font-family: Arial;
    margin: 0;
}
/* Header - logo or title */
.header{
    padding: 60px;
    text-align: center;
    background-color: #553175;
    color: white;
}
/* Style nav bar as flex-box  */
.navbar{
    display: flex;
    background-color: #333;
}
/* Style nav bar links */
.navbar a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
/* Change color on hover */
.navbar a:hover{
    background-color: #ddd;
    color: black;
}
/* Section/Flex-container */
.section{
    display: flex;
    flex-wrap: wrap;
}

/* Flex-items */
.left{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
.right {
    flex: 70%;
    background-color: white;
    padding: 20px;
}
/* Image placeholder */
.imgph{
    background-color: #aaa;
    width: 100%;
    height: 60px;
    padding: 20px;
}
/* Taller Image Placeholder */
.imgph2{
    background-color: #aaa;
    width: 100%;
    height: 200px;
    padding: 20px;

}
/* Footer */
.footer{
    padding: 20px;
    text-align: center;
    background-color: #553175;
    color: white;
}




/* Changes nav bar when screen size is smaller */
@media screen and (max-width: 768px){
    .navbar , .section{
        flex-direction: column;
    }
    
    
}
/* Do something when screen is landscape on small devices */
@media screen and (max-width: 600px) and (orientation: landscape){
    .navbar{
        display: none;
    }
}
